<%= form_with(model: gadget, local: true) do |form| %>
  <% if gadget.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(gadget.errors.count, "error") %> prohibited this gadget from being saved:</h2>

      <ul>
      <% gadget.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :brand %>
    <%= form.text_field :brand %>
  </div>

  <div class="field">
    <%= form.label :year_released %>
    <%= form.text_field :year_released %>
  </div>

  <div class="field">
    <%= form.label :camera %>
    <%= form.text_field :camera %>
  </div>

  <div class="field">
    <%= form.label :mpixels %>
    <%= form.text_field :mpixels %>
  </div>

  <div class="field">
    <%= form.label :internal_storage %>
    <%= form.number_field :internal_storage %>
  </div>

  <div class="field">
    <%= form.label :sim_slots %>
    <%= form.number_field :sim_slots %>
  </div>

  <div class="field">
    <%= form.label :screen_size %>
    <%= form.text_field :screen_size %>
  </div>

  <div class="field">
    <%= form.label :os %>
    <%= form.text_field :os %>
  </div>

  <div class="field">
    <%= form.label :num_in_stock %>
    <%= form.number_field :num_in_stock %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
